:root {
	--softWhite: #eeeeee;
	--concrete: #C5BAAA;
	--craft: #493f39;
	--brightBrick: #EE7828;
	--red: #fb2b06;
	--graphite: #2C2C2C;
	--darkness: #000000;

}

body {
	background-color: var(--graphite);
	width: 980px;
	margin: auto;
	color: var(--softWhite);
	font-size: 20px;
	flex: auto;
}
div {
	margin: auto;
	flex: auto;
}

h1#title {
	text-align: center;
	text-shadow: #C5BAAA;
}

button {
	border: none;
	width: 5em;
	height: 2em;
	line-height: 2em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	background-size: 300%;
	border-radius: 2.75px;
	text-transform: uppercase;
	cursor: pointer;
	z-index: 1;

}

button#favorite-toggle{
	width: 26px;
	background-color: transparent;
}

button.edit-btn {
	background-color: var(--graphite);
	color: var(--softWhite);
	border: var(--softWhite) solid .25px;
	width: 5em;
	height: 2em;
	line-height: 2em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

button.edit-btn.save-btn {
	background-color: goldenrod;
	color: var(--darkness);
}

button.delete-btn {
	background-color: var(--red);
	color: var(--softWhite);
	border: var(--red) solid .25px;
	width: 5em;
	height: 2em;
	line-height: 2em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

button.complete-btn.complete {
	background-color: #469b21;
}

button#enter-btn {
	background-color: var(#469b21);
	color: var(--graphite);
	width: 10em;
	height: 2.85em;
	line-height: 2em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

button.complete-btn {
	width: 2em;
	height: 2em;
	font-size: large;
	padding: 0;
	background-color: transparent;
}

input.check-box {
	vertical-align: baseline;
	background-color: #469b21;
	width: 20px;
	height: 20px;
}

input.text.complete {
	text-decoration: line-through;
	background-color: #469b21;
}

input.complete {
	background-color: #469b21;
}


input {
	border: none;
	height: 2em;
	font-size: 15px;
	font-weight: bold;
	border-radius: 2.75px;
	padding: 5px;
	margin: 5px;
	text-align: left;
}

select {
	border: none;
	height: 2.65em;
	font-size: 15px;
	font-weight: bold;
	border-radius: 2.75px;
	padding: 5px;
	margin: 5px;
}

input.time {
	width: 7.5em;
}

input.date {	
	width: 8em;
}

input.text {
	width: 29.5em;
}

input.editing {
	background-color: var(--graphite);
	color: var(--softWhite);
	border: var(--concrete) solid .25px;
}