:root {
	--softWhite: #eeeeee;
	--concrete: #C5BAAA;
	--craft: #806D61;
	--brightBrick: #EE7828;
	--graphite: #2C2C2C;
	--darkness: #000000;

}

body {
	background-color: var(--graphite);
	width: 1000px;
	margin: auto;
	color: var(--softWhite);
	font-size: 20px;
	flex: auto;
}

h1#title {
	text-align: center;
	text-shadow: #C5BAAA;
}

button {
	border: none;
	color: var(--softWhite);
	width: 5em;
	height: 2em;
	line-height: 2em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	background-size: 300%;
	border-radius: 2.75px;
	text-transform: uppercase;
	cursor: pointer;
	z-index: 1;

}

button.edit-btn {
	background-color: var(--graphite);
	color: var(--softWhite);
	border: var(--softWhite) solid .25px;
	width: 5em;
	height: 2em;
	line-height: 2em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

button.delete-btn {
	background-color: var(--brightBrick);
	color: var(--softWhite);
	border: var(--brightBrick) solid .25px;
	width: 5em;
	height: 2em;
	line-height: 2em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

button#enter-btn {
	background-color: var(--softWhite);
	color: var(--graphite);
	width: 5em;
	height: 2em;
	line-height: 2em;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}



input {
	border: none;
	height: 2em;
	font-size: 15px;
	font-weight: bold;
	border-radius: 2.75px;
	padding: 5px;
	margin: 5px;
	text-align: left;
}

select {
	border: none;
	height: 2.65em;
	font-size: 15px;
	font-weight: bold;
	border-radius: 2.75px;
	padding: 5px;
	margin: 5px;
}

input.time {
	width: 8em;
}

input.date {	
	width: 8em;
}

input.text {
	width: 30em;
}

#user-input {

}